<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_TimeMachine>
            <version>0.1.0</version>
        </BlueAcorn_TimeMachine>
    </modules>
    <global>
        <models>
            <blueacorn_timemachine>
                <class>BlueAcorn_TimeMachine_Model</class>
                <resourceModel>blueacorn_timemachine_resource</resourceModel>
            </blueacorn_timemachine>
            <blueacorn_timemachine_resource>
                <class>BlueAcorn_TimeMachine_Model_Resource</class>
            </blueacorn_timemachine_resource>
            <core>
                <rewrite>
                    <locale>BlueAcorn_TimeMachine_Model_Core_Locale</locale>
                </rewrite>
            </core>
        </models>
        <blocks>
            <blueacorn_timemachine>
                <class>BlueAcorn_TimeMachine_Block</class>
            </blueacorn_timemachine>
        </blocks>
        <helpers>
            <blueacorn_timemachine>
                <class>BlueAcorn_TimeMachine_Helper</class>
            </blueacorn_timemachine>
        </helpers>
        <resources>
            <blueacorn_timemachine_setup>
                <setup>
                    <module>BlueAcorn_TimeMachine</module>
                </setup>
            </blueacorn_timemachine_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_timemachine>
                    <file>blueacorn_timemachine.xml</file>
                </blueacorn_timemachine>
            </updates>
        </layout>
    </frontend>
</config>